<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WKWebView.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D3A1177A2ABA9187005B3EA0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D3A117952ABAE5A9005B3EA0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D3A117A42ABAE5B3005B3EA0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
